body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow-x: hidden; */
}

#topbar {
    position: fixed;
    top: 5px;
    height: 75px;
    width: 50vw;
    left: 25vw;
    right: 25vw;
    background-color: #fff;
    z-index: 3;
}

#topbar-items {
    display: flex;
    flex-direction: row;
}

a{
    color: #6d00d5;
}

#logo {
    display: flex;
    flex-direction: row;
    width: 45%;
}

#logo-img {
    width: 75px;
    height: 75px;
}

#logo-text {
    margin-top: 18.75px;
    margin-left: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #6d00d5;
}

#buttons {
    width: 55%;
    text-align: right;
}

.tb_button {
    margin-top: 10px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

.tb_button {
    top: 1px;
}

#wtbButton {
    animation: pulse 3s infinite;
    animation-direction: alternate;

    box-shadow: 0px 10px 14px -7px #a941ff;
    background: linear-gradient(to bottom, #6d00d5 5%, #a941ff 100%);
    background-color: #a941ff;
    border: 1px solid #6d00d5;
    color: #ffffff;
    text-shadow: 0px 1px 0px #5b8a3c;
}

#wtbButton:hover {
    background: linear-gradient(to bottom, #6d00d5 5%, #a941ff 100%);
    background-color: #a941ff;
}

#wtbButton:active {
    position: relative;
}

#cta{
    padding-top: 100px;
    width: 90vw;
    height: 100vh;
}
#cta-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15vw;
    right: 15vw;
    width: 70%;
}
#cta-text{
    padding-top: 100px;
    padding-left: 25px;
    text-indent: 2em;
    font-size: 14pt;
    text-align: right;
    width: 50%;
    height: 500px;
}
#cta-text h1, h2{
    color: #6d00d5;
}
#cta-text p{
    color: #202020;
}
#cta-text ul{
    list-style: none;
}
li i{
    font-size: 25pt;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #6d00d5;
}

#cta-logo-img{
    width: 577px;
    height: 577px;
    opacity: 0.55;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.55;
    }
}

@media (min-device-width: 1025px) and (max-device-width: 1838px) {
    #topbar {
        width: 90%;
        left: 5vw;
        right: 5vw;
    }
}