body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topbar {
    position: absolute;
    top: 5px;
    height: 100px;
    width: 50vw;
    left: 25vw;
    right: 25vw;
}

#topbar-items {
    display: flex;
    flex-direction: row;
}

#logo {
    display: flex;
    flex-direction: row;
    width: 45%;
}

#logo-img {
    width: 75px;
    height: 75px;
}

#logo-text {
    margin-top: 18.75px;
    margin-left: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #6d00d5;
}

#buttons {
    width: 55%;
    text-align: right;
}

.tb_button {
    margin-top: 10px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

.tb_button {
    top: 1px;
}

#wtbButton {
    animation: pulse 3s infinite;
    animation-direction: alternate;

    box-shadow: 0px 10px 14px -7px #a941ff;
    background: linear-gradient(to bottom, #6d00d5 5%, #a941ff 100%);
    background-color: #a941ff;
    border: 1px solid #6d00d5;
    color: #ffffff;
    text-shadow: 0px 1px 0px #5b8a3c;
}

#wtbButton:hover {
    background: linear-gradient(to bottom, #6d00d5 5%, #a941ff 100%);
    background-color: #a941ff;
}

#wtbButton:active {
    position: relative;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.55;
    }
}

/* @media (max-width: 1839px) {
    #topbar {
        width: 80%;
        left: 10vw;
        right: 10vw;
    }
} */

@media (min-device-width: 1025px) and (max-device-width: 1838px) {
    #topbar {
        width: 90%;
        left: 5vw;
        right: 5vw;
    }
}