body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2e2e2e;
}

#topbar {
    position: absolute;
    top: 5px;
    height: 75px;
    width: 50vw;
    left: 25vw;
    right: 25vw;
    z-index: 3;
    padding-top: 25px;
}

#topbar-items {
    display: flex;
    flex-direction: row;
}

a {
    color: #b7ff7d;
}

#logo {
    display: flex;
    flex-direction: row;
    width: 45%;
}

#logo-img {
    width: 65px;
    height: 65px;
    z-index: -1;
    user-select: none;
}

#logo-text {
    z-index: -1;
    margin-top: 18.5px;
    margin-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    user-select: none;
}

#logo-ghost{
    color: #b7ff7d;
}

#buttons {
    width: 55%;
    text-align: right;
}

.tb_button {
    margin-top: 10px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    user-select: none;
}

.tb_button {
    top: 1px;
}

#wtbButton {
    animation: pulse 3s infinite;
    animation-direction: alternate;
    box-shadow: 0px 10px 14px -7px #b7ff7d;
    background: linear-gradient(to bottom, #5b8a3c 5%, #b7ff7d 100%);
    background-color: #b7ff7d;
    border: 1px solid #5b8a3c;
    color: #ffffff;
    text-shadow: 0px 1px 0px #5b8a3c;
}

#wtbButton:hover {
    background: linear-gradient(to bottom, #5b8a3c 5%, #b7ff7d 100%);
    background-color: #b7ff7d;
}

#wtbButton:active {
    position: relative;
}

.socialButton:hover{
    color: #fff;
}

#cta {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
}

#cta-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15vw;
    right: 15vw;
    width: 70%;

    animation: fadein 1.8s;
}

#cta-text {
    padding-top: 100px;
    padding-left: 25px;
    text-indent: 2em;
    font-size: 12pt;
    text-align: right;
    width: 50%;
    height: 500px;
}

#cta-text h1, h2 {
    color: #b7ff7d;
}

#cta-text p, li {
    color: #e3e3e3;
}

#cta-text ul {
    list-style: none;
}

li i {
    font-size: 25pt;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #b7ff7d;
}

#feat1 {
    animation: pulse 2s infinite;
    animation-direction: alternate;
}

#feat2 {
    animation: pulse 2.5s infinite;
    animation-direction: alternate;
}

#feat3 {
    animation: pulse 1.7s infinite;
    animation-direction: alternate;
}

#cta-logo-img {
    width: 577px;
    height: 577px;
    opacity: 0.55;
    user-select: none;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.55;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-device-width: 1400px) and (max-device-width: 1838px) {
    #topbar, #cta-container {
        width: 90%;
        left: 5vw;
        right: 5vw;
    }
}

@media (max-device-width: 1400px) {
    #topbar, #cta-container {
        width: 100%;
        left: 100px;
        right: 0;
    }

    #cta-container {
        /* flex-direction: column-reverse; */
        width: 90%;
        left: 5vw;
        right: 5vw;
        position: relative;
    }
    #cta-logo-img {
        position: absolute;
        right: -250px;
    }
    #cta-text {
        position: absolute;
        left: 0;
    }
}